# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments (Mac + Linux)
.venv/
venv/
env/

# Conda
conda-meta/

# Jupyter
.ipynb_checkpoints/

# Output data (usually not committed)
out/
results_out/
*.log
*.aux
*.out
*.toc
*.synctex.gz
*.pdf

# VSCode / editors
.vscode/
.idea/